@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, input, button {
    font-family: 'Press Start 2P', cursive;
}

.game-over {
    color: red;
}

.warning {
    color: red;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding-top: 20px;
}

.score-message {
    color: turquoise;
}

.game1-play {
    color: pink;
}

.component-header {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: pink;
    background-color: whitesmoke;
}

.incorrect {
    color: red;
    font-size: 100px;
}
.correct {
    color: rgb(9, 255, 0);
}

table, th, td {
    border: 1px solid rgb(9, 255, 0);
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: center;
}

th, td {
    padding: 10px;
}

.home {
    background-color: rgb(0, 0, 0);
    color: rgb(9, 255, 0);
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    box-shadow: 5px 5px rgb(168, 167, 167);
    width: 60%;
    height: 80%;
    /* max-width: 700px; */
    min-height: 500px;
    min-width: 700px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.stats {
    background-color: rgb(0, 0, 0);
    color: rgb(9, 255, 0);
    text-align: center;
    margin: auto;
    padding: 15px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    box-shadow: 5px 5px rgb(168, 167, 167);
    min-width: 700px;
    min-height: 500px;
    margin-top: 50px;
}

.game {
    background-color: rgb(0, 0, 0);
    color: rgb(9, 255, 0);
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 80px;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    box-shadow: 5px 5px rgb(168, 167, 167);
    width: 60%;
    height: 80%;
    /* max-width: 700px; */
    min-height: 300px;
    min-width: 700px;
    margin-top: 50px;
}


.game2-area {
    display: grid;
    background-color: blueviolet;
}

.links {
    padding: 40px;
}

.game-link {
    color:grey;
    padding: 0px 40px;
}

.active-nav {
    color: rgb(222, 51, 245);
    background-color: whitesmoke;
   padding-bottom: 15px;
}

.active-game {
    color: white;
    animation-name: titleFlash;
    animation-duration: 0.7s;
    animation-iteration-count: infinite
}
@keyframes titleFlash {
    0%   {color: white;}
    49%  {color: white}
    50%  {color: grey}
    100% {color: grey;}
  }

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10000;
    background-color: rgb(167, 247, 207);
    text-align: center;
}

.game-navbar {
    text-align: center;
    padding: 10x 10px;
    margin-top: 30px
}

.page-not-found {
    position: relative;
    margin-top: 80px;
    text-align: center;
}

.user-class {
    display: inline-block;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(9, 255, 0);
    margin: 20px;
}

.active-user-class {
    display: inline-block;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    color: pink;
    margin: 20px;
}

.legendKey {
    max-width: 300px;
    padding: 5px;
    margin: 3px;
    border: 2px white dotted;
    font-size: 10px;
    text-align: left; 
}

.legend {
 display: flexbox;
 align-items: left
}

.snippet0 {
    border: black 2px solid;
    background-color:rgb(46, 46, 46);
    color: yellow;
    max-width: 250px;
    margin: 5px 0px;
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
    text-align:left;
}

.snippet1 {
    border:rgb(235, 0, 0) 2px solid;
    color: white;
    max-width: 250px;
    margin: 5px 1px;
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
    text-align:left;
}
.snippet2 {
    border:rgb(229, 245, 9) 2px solid;
    color: white;
    max-width: 250px;
    margin: 5px 0px;
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
    text-align:left;
}
.snippet3 {
    border:rgb(59, 236, 5) 2px solid;
    color: white;
    max-width: 250px;
    margin: 5px 0px;
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
    text-align:left;
}
.snippet4 {
    border:rgb(196, 1, 245) 2px solid;
    color: white;
    max-width: 250px;
    margin: 5px 0px;
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
    text-align:left;
}
.grid-container{
    display: grid;
    grid-column-gap: 200px;
    grid-template-columns: auto auto;
}
/* .goalContainer{
    display: inline-grid;
}

.editor{
    display: inline-grid;
} */

.start-button {
    margin-top: 15px;
    padding: 5px 15px;
    background-color: white;
    animation-name: buttonFlash;
    animation-duration: 0.7s;
    animation-iteration-count: infinite
}

@keyframes buttonFlash {
    0%   {background-color: white;}
    49%  {background-color: white}
    50%  {background-color: grey}
    100% {background-color: grey;}
  }
     
