table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  th, td {
    padding: 10px;
  }
  

.home {
    padding-top: 100px;
    text-align: center;
    color: rgb(236, 128, 146);
}

.games {
    padding-top: 100px;
    text-align: center;
    color: yellow;
}


.game1 {
    padding-top: 100px;
    text-align: center;
    color: green;
}

.game2 {
    padding-top: 100px;
    text-align: center;
    color: orange;
}

.stats {
    padding-top: 100px;
    text-align: center;
    color: blue;
}

.links {
    padding: 20px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10000;
    background-color: rgb(167, 247, 207);
    text-align: center;
}

.user-class {
    display: inline-block;
    padding: 20px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin: 20px;
}
