.component-header {
    padding-top: 50px;
    text-align: center;
    color: pink;
    background-color: whitesmoke;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
}

.home {
    padding-top: 100px;
    text-align: center;
    color: rgb(236, 128, 146);
}

.games {
    padding-top: 100px;
    text-align: center;
    color: yellow;
}

<<<<<<< HEAD

.game1 {
=======
.stats {
>>>>>>> 7497361e8a617c8320962d7a0e7b384f0ce5d384
    padding-top: 100px;
    text-align: center;
    color: blue;
}

.game1 {
    padding-top: 10px;
    text-align: center;
    color: green;
}

.game2 {
    padding-top: 10px;
    text-align: center;
    color: orange;
}

.game-area {
    display: grid;
}

.links {
    padding: 40px;
}

.active-nav {
    color: rgb(222, 51, 245);
    background-color: whitesmoke;
    border: 5px black;
    z-index: 1000;
}

.active-game {
    color: turquoise
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10000;
    background-color: rgb(167, 247, 207);
    text-align: center;
}

.game-navbar {
    text-align: center;
    padding: 0px 10px;
}

.page-not-found {
    position: relative;
    margin-top: 80px;
    text-align: center;
}

.user-class {
    display: inline-block;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 20px;
}